html,
body {
  overflow: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;
  height: 100%;
}

::-webkit-scrollbar {
  width: 0;
  /* Remove scrollbar space */
  background: transparent;
  /* Optional: just make scrollbar invisible */
}

hr {
  border: none;
  border-top: 5px double #eeeeee;
  color: #eeeeee;
  overflow: visible;
  opacity: 50%;
  text-align: center;
  height: 5pt;
  width: 50%;
}

hr:after {
  background: rgb(15, 15, 15);
  content: "§";
  padding: 0 4px;
  position: relative;
  top: -13px;
}

.slides li img {
  background-attachment: fixed;
}

/* ***** Contact CSS start ***** */
.contact {
  padding: 20px;
  align-items: center;
  margin-left: 15%;
  border-left: thin solid grey;
}

.contact .details {
  margin: 14px;
  text-align: center;
  padding-top: 20px;
}

.contact .details i {
  font-size: 30px;
  color: #424242;
  margin-bottom: 10px;
}

.contact .details .topic {
  font-size: 18px;
  font-weight: 500;
  color: #424242;
}

.contact .details .custom-text-one {
  font-size: 15px;
  color: darkslategray;
}

/* ****** Contact CSS end ****** */

.material-icons {
  display: inline-flex;
  vertical-align: top;
}

.verticalLine {
  border-left: thin solid #eeeeee;
}

.verticalLineGrey {
  border-left: thin solid grey;
}

.btnOpacity {
  opacity: 0.3;
  margin-top: -15px;
}

.whiteText{
  color : #eeeeee;
}
