/*
  logo gradient: below #f15a24 & above #d4145a gradient 
  logo position should be top right to bottom left
*/
@import url(../fonts/eurostile-cufonfonts/eurostile.TTF);

html,
body {
  overflow: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;
  height: 100%;
}

::-webkit-scrollbar {
  width: 0;
  /* Remove scrollbar space */
  background: transparent;
  /* Optional: just make scrollbar invisible */
}

.brand-logo .responsive-img {
  margin-top: 6%;
}

@media only screen and (min-width: 600px) {
  #headerTitle {
    font-size: 5em;
    letter-spacing: 6px;
    word-spacing: 10px;
    padding-top: 3rem;
    font-family: eurostile;
    color: #eeeeee;
  }
  .slider .slides h6 {
    letter-spacing: 4px;
    word-spacing: 5px;
  }

  #about p {
    font-weight: 400;
    font-size: medium;
    text-align: justify;
    text-justify: inter-word;
    letter-spacing: 4px;
    word-spacing: 6px;
  }

  .verticalLine {
    border-left: thin solid #eeeeee;
  }

  .verticalLineGrey {
    border-left: thin solid grey;
  }
}

@media only screen and (max-width: 600px) {
  #home {
    min-height: 100vh;
    max-width: 100%;
    height: 600px;
  }

  .brand-logo .responsive-img {
    max-width: 92%;
  }

  #headerTitle {
    padding-top: 1em;
    color: #eeeeee;
  }

  #about p {
    text-align: justify;
    text-justify: inter-word;
    letter-spacing: 3px;
    word-spacing: 4px;
  }

  .slider .slides h2 {
    font-size: 3rem;
  }
  .slider .slides h6 {
    font-size: 1rem;
    line-height: 1.3;

    letter-spacing: 3px;
    word-spacing: 4px;
  }

  .verticalLine {
    border-top: thin solid #eeeeee;
  }

  .verticalLineGrey {
    border-top: thin solid grey;
  }
}

hr {
  border: none;
  border-top: 5px double #eeeeee;
  color: #eeeeee;
  overflow: visible;
  opacity: 50%;
  text-align: center;
  height: 5pt;
  width: 75%;
}

hr:after {
  background: rgb(15, 15, 15);
  content: "§";
  padding: 0 4px;
  position: relative;
  top: -13px;
}

.slides li img {
  background-attachment: fixed;
}

/* ***** Contact CSS start ***** */
.contact {
  padding: 20px;
  align-items: center;
}

#contact .card {
  max-width: 80%;
  margin-left: 10%;
}

.contact .details {
  margin: 14px;
  text-align: center;
  padding-top: 20px;
  font-weight: 400;
}

.contact .details i {
  font-size: 30px;
  color: #424242;
  margin-bottom: 10px;
}

.contact .details .topic {
  font-size: 18px;
  font-weight: 500;
  color: #424242;
}

.contact .details .custom-text-one {
  font-size: 15px;
  color: #424242;
}

/* ****** Contact CSS end ****** */

.material-icons {
  display: inline-flex;
  vertical-align: top;
}

.btnOpacity {
  opacity: 0.75;
  margin-top: -15px;
}

.whiteText {
  color: #eeeeee;
}
.charcoal {
  background-color: #292826;
}
